# Groq API Key - get yours at https://console.groq.com/
VITE_GROQ_API_KEY=your_api_key_here



# ElevenLabs TTS
ELEVENLABS_API_KEY=your_api_key_here
ELEVENLABS_VOICE_ID=pNInz6obpgDQGcFmaJgB
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
